Memorama/Connected Services/ProxyLogin/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9090/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Modelo.Modelo" />
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contrasenia" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Conectarse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Modelo.Modelo" minOccurs="0" name="jugador" nillable="true" type="q1:Jugador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerificarUsuarioLogeado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="logeado" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerificarUsuarioLogeadoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UsuariosConectados">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Modelo.Modelo" minOccurs="0" name="jugadores" nillable="true" type="q2:ArrayOfJugador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearJugador">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Modelo.Modelo" minOccurs="0" name="jugador" nillable="true" type="q3:Jugador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarCorreoRegistro">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="correo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codigoDeRegistro" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerificarCreacionJugador">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="creado" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerificarEnvioDeCorreo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="enviado" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>